<h1>Product Catalog</h1>

<partial name="_ProductsTable" model="Model.AllProducts" />

<h2>Add New Product</h2>
<partial name="_AddProductForm" />

<h1>Product Catalog</h1>

<partial name="_FilterByCategoryForm" />

