@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <h1 class="display-4">Welcome</h1>
    <p>To accses catalog you must Log in</p>

    <a href="~/Account/Login" class="btn btn-success">Login</a>
</div>


<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/css/styles.css" rel="stylesheet" /> 